/* HEADER */

header {
	display: flex;
    justify-content: center;
    border-bottom: 2px grey dashed;
}

/* SLIDESHOW */

#slider {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

#images {
    width: 100%;
    display: block;
    margin: 20px auto;
	border: 10px solid white;
	box-shadow: 0px 0px 5px 2px #ccc;
}

button {   
    padding: 20px;
	border: none;
	background: grey;
    font-size: 30px;
    height: 50px;;
    color: white;
    opacity: 0.5;
    cursor: pointer;
}

button:hover {
    opacity: 1;
}

.next.fa.fa-chevron-right {
	border-radius: 0px 10px 10px 0px;
}

.prev.fa.fa-chevron-left {
	border-radius: 10px 0px 0px 10px;
}

#slideshow {
    position: relative;
}

#pause {
    position: absolute;
    right: 12.5%;
    bottom: 1em;
}

.pause.fa.fa-pause {
	border-radius: 10px;
}