@media all and (min-width: 992px) {

    /* FIRST SECTION */
    #slider {
        max-width: 90%;
        margin: auto;
    }

    #images {
        width: 100%;
    }

    .buttonSlider {  
        padding: 20px;
        height: 50px;
        font-size: 1em;
    }

}