body {
    border: 1px solid #ce8106;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    background-image: url("fond.jpg");
    background-attachment: fixed;
}

/* HEADER */

header {
    display: flex;
    padding-bottom: 60px;
    border-bottom: 2px grey dashed;
    justify-content: center;
    background-color: white;
}

header h1 {
    position: absolute;
    top: 8%;
    padding: 0 200px;
    font-size: 1em;
    background-color: #ce8106;
    color: white;
}

#logo {
    max-width: 709px;
    width: 100%;
    height: 100%;
}

/* FIRST SECTION */
/* Slideshow */

#slideshowSection {
    display: none;
    margin: 3em 0;
}

#slideshowSection h1 {
    font-family: 'Dancing Script', cursive;
    padding-left: 20%;
    font-size: 1.8em;
    font-weight: 0.5em;
}

#slideshowSection h1 span {
    font-size: 2em;
}

/* SECOND SECTION */

#mapSection {
    background-color: black;
}
#mapContainer {
    display: flex;
    position: relative;
}

#stateReservationTimer {
    width: 25%;
    border: 2px dashed white;
    margin: 1.5em;
    position: relative;
}

#stateReservationTimer h2, form {
    margin: 0;
    font-size: 1.2em;
    background-color: white;
    padding: 0.5em;
    text-transform: uppercase;
}

/* State of the station */
#descriptionBikeStation {
    margin: 0.5em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
}

/* Reservation */

/* form */
form {
    margin: 1em;
    background-color: black;
    color: white;
    text-align: center;
    padding: 0;
}

/* signature */
.signatureContainer {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    width: 300px;
    height: 140px;
    border: 3px solid #ce8106;
}

#signatureTitle {
    position: relative;
    top: 20px;
    padding-bottom: 1em;
}

#descriptionBikeStation span {
    font-size: 1em;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
}

#clearSignature {
    position: relative;
    text-align: center;
    top: 8em;
}
/* timer */
#timer {
    text-align: center;
}

#buttonReservation {
    text-align: center;
}

button {
    margin: 0 10px;
	padding:6px 9px;
	background-color: black;
    color: white;
    font-size: 1.1em;
	border-radius:2px;
	width: 100px;
	border: 1px solid white;
    box-shadow:2px 2px 5px #999;
    cursor: pointer;  
    text-align: center;
}

button:hover {
    background-color: #ce8106;
}

button:disabled {
    background-color: #2d2d2d;
    color: #7a7a7a;
    cursor: none;
    border: none;
}

/* #clearSignature {
    position: relative;
    top: 190px;
} */

#test {
    position: relative;
    top: 20em;
}

/* map */
#map {
    width: 75%;
    height: 600px;
    margin: 2em;
    border: 10px solid white;
}

/* Text of the reservation */
#textReservation {
    background-color: #ce8106;
}

#textTimer {
    padding: 1em 0;
    text-align: center;
    font-size: 1.5em;
    color: white;
}