/* GENERAL */

body {
    border: 1px solid #ce8106;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    background-image: url("fond.jpg");
    background-attachment: fixed;
}

button {
    margin: 0 10px;
	padding:6px 9px;
	width: 100px;
    border: 1px solid white;
    border-radius:2px;
    box-shadow:2px 2px 5px #999;
    font-size: 1.1em;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;  
}

button:hover {
    background-color: #ce8106;
}

button:disabled {
    border: none;
    background-color: #2d2d2d;
    color: #7a7a7a;
    cursor: none;
}

/* HEADER */

header {
    display: flex;
    padding-bottom: 60px;
    border-bottom: 2px grey dashed;
    justify-content: center;
    background-color: white;
}

header h1 {
    position: absolute;
    top: 8%;
    padding: 0 200px;
    font-size: 1em;
    background-color: #ce8106;
    color: white;
}

#logo {
    max-width: 709px;
    width: 100%;
    height: 100%;
}

/* FIRST SECTION */

#slideshowSection {
    display: none;
    margin: 3em 0;
}

#slideshowSection h1 {
    font-family: 'Dancing Script', cursive;
    padding-left: 20%;
    font-size: 1.8em;
    font-weight: 0.5em;
}

#slideshowSection h1 span {
    font-size: 2em;
}

/* SECOND SECTION */

#detailsReservationAndMap {
    display: flex;
    position: relative;
    background-color: black;
}

/* DETAILS OF THE STATION AND RESERVATION OF A BIKE */

#detailsAndReservation {
    position: relative;
    margin: 1.5em;
    width: 25%;
    border: 2px dashed white;
}

#detailsAndReservation h2 {
    margin: 0;
    padding: 0.5em;
    background-color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

/* details */

#descriptionBikeStation {
    margin: 0.5em;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.4em;
}

#descriptionBikeStation span {
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 1em;
}

#makeAReservationButton {
    display: none;
}

/* reservation */

#reservationElt {
    display: none;
}

    /* form */
    form {
        margin: 1em;
        background-color: black;
        color: white;
        text-align: center;
        padding: 0;
    }

    .reservationButton {
        position: relative;
        top: 15em;
        text-align: center;
    }
    
    /* signature */
    #signature {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        width: 300px;
        height: 140px;
        border: 3px solid #ce8106;
    }

    #clearSignatureButton {
        position: relative;
        top: 8em;
        text-align: center;
    }

    /* cancel the reservation */

    #cancelReservationButton {
        display: none;
    }

/* MAP */
#map {
    margin: 2em;
    width: 75%;
    height: 600px;
    border: 10px solid white;
}

/* THIRD SECTION */

#userReservationData {
    background-color: #ce8106;
}
