body {
    margin: 0;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    border-bottom: 2px grey dashed;
}

#logo {
    width: 100%;
    height: 100%;
    max-width: 709px;

}
/* SLIDESHOW */

#slideshow {
    display: none;
}

/* SIGNATURE */

#signature {
    width: 320px;
    height: 160px;
    border: 1px solid blue;
}

/* MAP */

#map {
    margin: auto;
    width: 80%;
    height: 500px;
}