@media all and (min-width: 992px) {

    /* FIRST SECTION */
    #slider {
        max-width: 90%;
        margin: auto;
    }

    #images {
        width: 100%;
    }

    .buttonSlider {  
        padding: 20px;
        height: 50px;
        font-size: 1em;
    }
    
    /* SECOND SECTION */

    #detailsReservationAndMap {
        display: flex;
        flex-direction: row;
    }

    #detailsAndReservation {
        width: 40%;
        margin: 1em;
        border: 2px dashed white;
    }

    #detailsAndReservation h2 {
        width: 100%;
        padding: 0.5em 0 0.5em 1em;
        box-sizing: border-box;
    }

    /* details */
    #descriptionBikeStation {
        padding-top: 0;
    }

    /* reservation */
    #reservationElt {
        display: none;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }

    #dataForBooking {
        width: 100%;
    }

    #signature {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        transform: none;
        left: 0%;
        margin: auto;
   }

   #clearSignatureButton {
       top: 0%;
       bottom: 2em;
   }

    /* map */
    #map {
        width: 60%;
        height: 600px;
        margin: 2em;
        border: 10px solid white;
    }

    /* THIRD SECTION */

    #userReservationData {
        font-size: 1.5em;
    }

