@media all and (min-width: 700px) {

    /* HEADER */

    header h1 {
        padding: 0 200px;
    }

    /* FIRST SECTION */

    #imgExplication {
        display: none;
    }

    /* Slideshow */

    #slideshowSection h1 {
        font-family: 'Dancing Script', cursive;
        padding-left: 20%;
        font-size: 1.8em;
        font-weight: 0.5em;
    }

    #slideshowSection h1 span {
        font-size: 2em;
    }

    #slideshowContainer {
        display: block;
        margin: 3em 0;
    }

    #slider {
        display: flex;
        align-items: center;
    }

    #images {
        width: 100vw;
        border: 10px solid white;
        box-shadow: 0px 0px 5px 2px #ccc;
    }

    .buttonSlider {   
        padding: 12px;
        border: none;
        background: grey;
        font-size: 1em;
        height: 42px;
        color: white;
        opacity: 0.3;
        cursor: pointer;
    }

    .buttonSlider:hover {
        opacity: 1;
    }

    .next.fa.fa-chevron-right {
        border-radius: 0px 10px 10px 0px;  
    }

    .prev.fa.fa-chevron-left {
        border-radius: 10px 0px 0px 10px;
    }

    #pause {
        text-align: center;
    }

    .pause.fa.fa-pause {
        border-radius: 10px;
    }

    /* SECOND SECTION */

    #map {
        margin: auto;
        width: 90%;
    }



}